

<%= @country.name %>
<br>

<form action="/<%=@holiday.id%>/country/<%=@country.id%>" method="post">
<input type="hidden" name="_method" value="patch">


<label> You can add notes to this country to give travellers tips about your favourite things to see and do: </label>
<br>
<input type="text" name="country[notes]">
<br>

<label> You can add the cities / towns you visited on this country: </label>
<br>
<input type="text" name="holiday[city][name][]" id="city1">

<br>
<input type="text" name="holiday[city][name][]" id="city2">

<br>
<input type="text" name="holiday[city][name][]" id="city3">

<input type="submit" id="cities" value="submit" />
</form>



