
<%= @country.name %>

<label> Edit this country and add notes to it! </label>


<label> You can also delete your countries from your visited places: </label>
<form method="post" action="/holidays/country/<%=@country.id%>/delete">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Country" id="submit" />
</form>


