<ul>
  <% Holiday.all.each do |t| %>
  <li>
    <a href="/holidays/<%= t.id %>">
    <p> <%= t.name %>
    </a>
      <% User.all.each do |p|   %>
      <%  if p.id == t.user_id %>
       was a holiday taken by 
         <%= p.username %>
      </p>
       <%  end %>
    <%   end %>
  </li>

  <% end %>


<br>
<br>

<button type="button"><a href="/holidays/new">New Holiday!</a></button>
<button type="button"><a href="/">Go Back to homepage</a></button>
<br>
<button type="button"><a href="/holidays">See all holidays !</a></button>
<button type="button">
<a href="/holidays/<%= @holiday.id %>/delete"> Delete this holiday.</a>
</button> 
<br>
<button type="button"><a href="/holidays/user">See all your own holidays !</a>
</button> 
<br>
<button type="button"><a href="/logout">Log Out</a></button> 
<br>