<ul>
  <% Holiday.all.each do |t| %>
  <li>
    <a href="/holidays/<%= t.id %>">
    <p> <%= t.name %>
    </a>
      <% User.all.each do |p|   %>
      <%  if p.id == t.user_id %>
       was a holiday taken by 
         <%= p.username %>
      </p>
       <%  end %>
    <%   end %>
  </li>

  <% end %>
