<h1> Tells us where you've been! Create a holiday name and select the countries you have gone to:</h1>

<form action="/holidays" method="post">

<h2><label>  Name Your Holiday! </label>
	<input type="text" name="holiday[name]"> 
 </h2>


<br>
<table>
	<% Country.all.in_groups_of(5, false) do |row| %>
	   <tr>
		<% for country in row %>
		 <td> <input type="checkbox" name="holiday[country_ids][]"
               value="<%=country.id%>" id="<%=country.id%>"> 
		 	<%= country.name %> </input> </td> 
		<% end  %>
	   </tr>
	<% end  %>
</table>
<br>

<h2> 
<input type="submit" value="Create Holiday">
</h2>
</form>


<button type="button"><a href="/">Go Back to homepage</a></button>
<br>
<button type="button"><a href="/holidays">See all holidays !</a></button>
<br>
<button type="button"><a href="/holidays/user">See all your own holidays !</a>
</button> 
<br>
<button type="button"><a href="/logout">Log Out</a></button> 
<br>

<button type="button" name="button"><a href="/logout">Logout</a></button>
