<p> <%= @user.username %> is logged in. </p>
<br>
<br>
<%= @holiday.name%> <p>has holidayed:</p>

<br>

<form method="post" action="/holidays/<%=@holiday.id%>/delete">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Holiday" id="submit" />
</form>
<br>



<a href="/holidays/new">New Holiday!</a>
<br>
<a href="/holidays">See all your own holidays !</a>
<br>
<a href="/all">See all holidays! </a>
<br>
<a href="/logout">Log Out</a>