<p> Users will be redirected to show holiday after selecting countries from /holidays. </p>
<p> This page will then have a clickable list of all selected countries that redirects to /country/edit (new_city.erb) where a user can add visited cities within that country </p>
<p>This view will also display all visited cities for each country if they have already been created</p>

List of Countries
  List of cities visited in each country