<h1>Please signup using username, email and password. </h1>
<h2> Or login with username and password.</h2>

<button type="button" name="button"><a href="/signup">Sign Up</a></button>
<button type="button" name="button"><a href="/login">Log In</a></button>
<button type="button" name="button"><a href="/">Go Back to homepage</a></button>