<label>Log in below</label>
<br>
<form action='/login' method="post">
  <label for="username"> Username:</label>
  <br/>
  <input type="text" name="user[username]" id="username">
  <br/>
  <label for="password">Password:</label>
  <br/>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="Log In">
</form>
<br>
<button type="button" name="button"><a href="/signup">Or Sign Up Instead</a></button>
<button type="button" name="button"><a href="/">Or Go Back to homepage</a></button>
