<h2>Sign up below:</h2>

<form action='/signup' method="post">
  <br>
  <label>Username: </label>
  <input type="text" name="user[username]" id="username">

  <br>
  <label>Email: </label>
  <input type="text" name="user[email]" id="email">

  <br>
  <label>Password: </label>
  <input type="password" name="user[password]" id="password">

  <br>
  <input type="submit" value="Sign Up"> 
</form>


<button type="button" name="button"><a href="/login">Or Log In Instead</a></button>
<button type="button" name="button"><a href="/">Or Go Back to homepage</a></button>